.hexagon.hexagon-alternative {
	background: #FFFFFF;
}
.hexagon.hexagon-alternative:before {
	border-bottom-color: #FFFFFF;
}
.hexagon.hexagon-alternative:after {
	border-top-color: #FFFFFF;
}

#header .profile-image {
  border-radius: 50%;
  width: 80px;
}
#header .profile-container,
#logo {
  display: inline-block;
  padding: 0;
  vertical-align: top;
}

#logo {
  bottom: 5px;
  position: relative;
  text-align: left;
  margin-left: 1em;
}

#headline-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4em;
  padding-top: 4em;
  width: 470px;
}

#pf-items .pf-item {
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;
}
#pf-items .pf-item:not(.pf-item-fullwidth) {
	width: 50%;
}

#pf-items .pf-item .pf-item-title {
	font-size: 1.2em;
}
#pf-items .pf-item .pf-item-image-frame {
	position: relative;
	height: 203px;
}
#pf-items .pf-item .pf-item-image,
#pf-items .pf-item .pf-item-image-link {
	display: inline-block;
	height: 203px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 361px;
}
#pf-items .pf-item .pf-item-image-link:hover {
		background: rgba(0, 0, 0, 0.2);
}
#pf-items .pf-item .pf-item-image-button {
	display: none;
	margin: 0;
	position: relative;
	transform: translateY(-50%);
	top: 50%;
}
#pf-items .pf-item .pf-item-image-link:hover .pf-item-image-button {
	display: inline-block;
}
#pf-items .pf-item .pf-item-description {
	font-size: 0.833em;
}

#pf-items .pf-item.pf-item-fullwidth .pf-item-image-frame {
	height: 499px;
}
#pf-items .pf-item.pf-item-fullwidth .pf-item-image,
#pf-items .pf-item.pf-item-fullwidth .pf-item-image-link {
	display: inline-block;
	height: 499px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 887px;
}
